<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074792501605-0ahv6ce4ehij10d25es2dlc1a4shr9bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074792501605-0ahv6ce4ehij10d25es2dlc1a4shr9bn</string>
	<key>API_KEY</key>
	<string>AIzaSyBnx0pPp2JcwRvNFG7MDzUSvRasLvyx_fw</string>
	<key>GCM_SENDER_ID</key>
	<string>1074792501605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heym8</string>
	<key>PROJECT_ID</key>
	<string>hey-m8</string>
	<key>STORAGE_BUCKET</key>
	<string>hey-m8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074792501605:ios:726ed19c998a6eacaa118c</string>
</dict>
</plist>